@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-custom {
    box-shadow: 3px 3px 0 #89BE63; /* 20px horizontal, 20px vertical, no blur, color */
  }

  .clip-path-1 {
    clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 30%);
  }
  
  .clip-path-2 {
    clip-path: polygon(50% 0%, 85% 25%, 85% 100%, 15% 100%, 15% 25%);
  }
  
  .clip-path-3 {
    clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0% 100%, 0% 30%);
  }
  
  /* For most modern browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
